<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>MedInfoSys</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/css/patient-info.css" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container">
<!--        <a class="navbar-brand" href="#">Start Bootstrap</a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link" href="/user/login">Login</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="/user/my-profile">My
                    profile</a></li>

                <th:block sec:authorize="hasRole('ADMIN')">
                    <li class="nav-item"><a class="nav-link" href="/admin/user/register">Register new user</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/users">Users admin panel</a></li>
                </th:block>

                <th:block sec:authorize="hasRole('DOCTOR') && hasRole('ADMIN')==false">
                    <li class="nav-item"><a class="nav-link" href="/doctor/register-patient">Register new patient</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/doctor/get-all-patients">Patients panel</a></li>
                </th:block>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:method="POST" th:action="@{/user/logout}">
                        <input class="btn btn-link nav-link" type="submit" value="Logout">Logout</input>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="card personal-card-large" th:fragment="body-header">
    <div class="text-center m-5">
        <h1>MedInfoSys</h1>
        <h5>Medical information system</h5>
        <h6>Version 1</h6>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-dark text-center" th:fragment="body-footer">
    <div class="container">
        <span sec:authorize="hasRole('ADMIN')" th:text="|Logged users: ${countOfActiveUsers.activeUsersCount}|"></span>
    </div>
</footer>

</body>
</html>